.col-lg-4 {
    text-align: center;
}

@media (max-width: 678px) {
    img {
        width: 100%;
    }
    .col-lg-8 {
        padding-top: 20px;
    }
}

.navbar-logo {
    margin-right: 10px;
    width: 25px;
}